@using RandomGameSelector.ViewModels
@model GameDetailModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genres)
        </dd>
    </dl>
</div>
<div style="display:flex; width:50%">
    <div style ="flex: 1" >
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    </div>
    <div style="flex: 1" >
        <a class="btn btn-primary" asp-action="ListPage">Back to Games</a>
    </div>
</div>
