@model RandomGameSelector.Models.GameListPageModel

@{
    ViewData["Title"] = "Random Game Selector";
}

<link rel="stylesheet" href="~/css/listPage.css" asp-append-version="true" />

<h1>Games</h1>


<table class="table listTable">
    <thead>
        <tr>
            <th>
                Games
            </th>
            <th>
                Genres
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Games.Count(); i++) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Games[i].Name)
                </td>
                <td>
                    @Model.GameGenres[i]
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Games[i].Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@Model.Games[i].Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="links">
    <div>
        <input class="btn btn-primary" type="button" value="Add Game" onclick="location.href='@Url.Action("Create", "Games")'" />
    </div>
    <div>
        @Html.ActionLink("Select Random Game to Play", "Details", "Games", new { Model.Games[new Random().Next(Model.Games.Count)].Id}, new { @class="btn btn-primary" })
    </div>
    <div>
        <input class="btn btn-primary" type="button" value="Add Genre" onclick="location.href='@Url.Action("Create", "Genres")'" />
    </div>   
</div>

